
ul {
    background-color: #F5F5F5;
    font-family:'Times New Roman', Times, serif;
}

.serviceList {
    background-color: #F5F5F5;
}

.custom-card {
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    height: 100%;
    width: 80%;
}